<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <log4net>

    <!-- only write info and above for certain types to this appender -->
    <appender name="RollingLogFileAppender1" type="log4net.Appender.RollingFileAppender">
      
      <file value="logs\rolling.log" />
      <PreserveLogFileNameExtension value="true" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />

      <!-- roll on size and date -->
      <!-- this will make up to 10 files per minute -->
      <rollingStyle value="Composite" />
      <datePattern value="yyyyMMddHHmm" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10KB" />
      
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level [%thread] %logger{1} - %message%newline" />
      </layout>
    </appender>

    <!-- write the the console -->
    <appender name="ConsoleAppender1" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n" />
        <param name="Footer" value="[Footer]\r\n" />
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>

    <root>
      <!-- filter override for all levels-->
      <!--<level value="TRACE" />-->

      <!-- reference the things to append logs to -->
      <appender-ref ref="RollingLogFileAppender1" />
      <appender-ref ref="ConsoleAppender1" />
    </root>
  </log4net>
</configuration>
